img {width:100%;}

body{
    background: url("https://ssl.tzoo-img.com/images/tzoo.98779.0.892793.aurora.jpg?width=1280");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
input::placeholder{
    color:black !important;
    font-weight: 20 !important;
}
select option{
    color:black !important;
}

.col-md-8{
    background-color: white !important;
}

#cold,
#fecha{
    margin-bottom: 1px !important;
}
